
<div class="form-check my-4 {{divClass}} {{fullFieldName}}_Validator.divClass {{divClass}"
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <div class="{{fieldClass}}">
        <input
                _elem="{{fullFieldName}}_Field"
                type="checkbox" id="{{fullFieldName}}" name="{{fieldName}}"
                class="form-check-input ${{fullFieldName}}_Validator.fieldClass"
                placeholder="{{fieldPlaceholder}}" />
    </div>
    <label _show="{{fullFieldName}}_Label" for="{{fullFieldName}}"
            class="form-check-label {{labelClass}}">
        <p _repeat="{{fullFieldName}}_Validator.errors:errorMessage"
                class="text-danger">
            $errorMessage
        </p>
        <span _field="?({{fieldLabel}})" />            
    </label>
 </div>
