
<div class="form-check {{divClass}} {{fullFieldName}}_Validator.divClass {{divClass}"
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <div class="{{fieldClass}}">
        <input
                _elem="{{fullFieldName}}_Field"
                type="checkbox" id="{{fullFieldName}}" name="{{fieldName}}"
                class="form-check-input ${{fullFieldName}}_Validator.fieldClass"
                placeholder="{{fieldPlaceholder}}" />
    </div>
    <label _show="{{fullFieldName}}_Label" for="{{fullFieldName}}"
            class="form-check-label {{labelClass}}">
        <div _repeat="{{fullFieldName}}_Validator.errors:errorMessage" class="invalid-feedback">
            $errorMessage
        </div>
        <span _field="?({{fieldLabel}})" />            
    </label>
 </div>
