
<div class="form-check {{divClass}} {{fullFieldName}}_Validator.divClass"
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <label _show="?({{fieldLabel}} !== '')" for="{{fullFieldName}}"
            class="form-label {{labelClass}}">
        <span _field="?({{fieldLabel}})" />
    </label>
    <div class="{{fieldClass}}">
        <div _repeat="{{fullFieldName}}_Options:Option">
            <input
                _elem="{{fullFieldName}}_Field"
                type="radio" id="{{fullFieldName}}_${Option.value}"
                name="{{fieldName}}" value="$Option.value"
                class="${{fullFieldName}}_Validator.fieldClass" 
                style="${{fullFieldName}}_Style" />
            <label for="{{fullFieldName}}_${Option.value}">
                &nbsp;${Option.title}
            </label>
        </div>
        <div _repeat="{{fullFieldName}}_Validator.errors:errorMessage"
                class="invalid-feedback">
            $errorMessage
        </div>
    </div>
</div>
