
<div class="{{divClass}} {{fullFieldName}}_Validator.divClass"
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <label _show="?({{fieldLabel}} !== '')" for="{{fullFieldName}}"
            class="{{labelClass}}">
        <span _field="?({{fieldLabel}})" />
    </label>
    <div class="{{fieldClass}} col-form-label">
        <div _repeat="{{fullFieldName}}_Options:Option" class="form-check">
            <input
                _elem="{{fullFieldName}}_Field"
                type="radio" id="{{fullFieldName}}_${Option.value}"
                name="{{fieldName}}" value="$Option.value"
                class="form-check-input ${{fullFieldName}}_Validator.fieldClass" 
                style="${{fullFieldName}}_Style" />
            <label for="{{fullFieldName}}_${Option.value}" class="form-check-label">
                &nbsp;${Option.title}
            </label>
        </div>
        <div _repeat="{{fullFieldName}}_Validator.errors:errorMessage"
                class="invalid-feedback">
            $errorMessage
        </div>
    </div>
</div>
