
<div class="${{fullFieldName}}.divClass ${{rowClass}} {{fullFieldName}}_Validator.divClass"
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <label _show="{{fullFieldName}}_Label" for="{{fullFieldName}}"
            class="form-label {{labelClass}}}">
        {{fieldLabel}}
    </label>
    <div class="{{fieldClass}}">
        <select _elem="{{fullFieldName}}_Field"
                id="{{fullFieldName}}" name="{{fieldName}}"
                class="form-control" style="${{fullFieldName}}_Style">            
            <option _repeat="{{fullFieldName}}_Options:option" _field="option.title"
                    value="$option.value" class="$option.class" style="$option.style" />
        </select>
        <div _repeat="{{fullFieldName}}_Validator.errors:errorMessage"
                class="invalid-feedback">
            $errorMessage
        </div>
    </div>
</div>
