
<div class="{{divClass}} ${{fullFieldName}}_Validator.divClass" 
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <label _show="?({{fieldLabel}} !== '')" for="{{fullFieldName}}"
            class="form-label {{labelClass}}">
        <span _field="?({{fieldLabel}})" />
    </label>
    <div class="textField {{fieldClass}}">
        <span _elem="{{fullFieldName}}_Field" />
        <div _repeat="{{fullFieldName}}_Validator.errors:errorMessage"
                class="invalid-feedback">
            $errorMessage
        </div>
    </div>
</div>
