
<div class="{{divClass}} $validator.divClass"
        _data-spk-field="{{formName}}:{{fieldInfo}}">
    <label _show="{{fullFieldName}}_Label" for="{{fieldName}}"
            class="form-label {{labelClass}}}">
        {{fieldLabel}}
    </label>
    <div class="textField {{field.fieldClass}}">
        <span _elem="{{fullFieldName}}_Field" />
        <div _show="validator.hasErrors"
            _repeat="validator.errors:errorMessage"
            class="invalid-feedback">
            {{errorMessage}}
        </div>
    </div>
</div>
